.navbar {
    border-radius: 0px;
    display: flex;
    align-items: center;
    margin:0;
}

.navbar-right {
    border-radius: 0px;
    display: flex;
    align-items: right;
    justify-content: right;
}

.navbar-toggler {
    border: none;
    outline: none;
}

#navbarNav {
    width: 100%;
}

.header-bar {
    background: black;
    width: 100%;
    height: 100px;
    margin: 0;
}

.header-title {
    width: 100%;
    color: white;
    line-height: 50px;
    text-align: left;
}

a {
    color: currentColor;
    text-decoration: none;
}