<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse" (checkLoginEvent)="checkLoginStatus()">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="showNav = !showNav" style="height: 50px;">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="header-title text-huge" href="/"><span class="fa fa-tv fa-logo-icon" (drop)="onDrop($event)" (dragover)="allowDrop($event)" aria-hidden="true"></span></a>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="!showNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let menuItem of menuItems">
                <a class="nav-link" href="/{{menuItem.urlRoute}}">{{menuItem.title}}</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right mr-auto">
            <li class="nav-item" *ngFor="let accountItem of accountItems">
                <a class="nav-link" href="/{{accountItem.urlRoute}}">{{accountItem.title}}</a>
            </li>
        </ul>
    </div>
    <a href="/account/manage"><span class="fa fa-user fa-logo-icon text-huge"></span></a>
</nav>