.list-group-item {
    background: #f7eeff;
    border-radius: 15px;
    margin-bottom: 2px;
}

.list-group-item:hover {
    background: #eedaff;
}

.list-group-item:focus {
    background: #eedaff;
    outline: none;
}