.list-group-item {
    background: #f7eeff;
    border: 1px solid #fff;
    border-radius: 15px;
}

.list-group-item:hover {
    background: #eedaff;
    border: 1px solid #fff;
}

.list-group-item:focus {
    background: #eedaff;
    border: 1px solid #fff;
    outline: none;
}

button:focus {
    outline: none;
}

.btn-edit {
    border: none;
    background: none;
    height: 30px;
    width: 30px;
}

.btn-edit:hover {
    color: red;
}