.list-group-item {
    background: #eef;
    border-radius: 15px;
    margin-bottom: 2px;
}

.list-group-item:hover {
    background: #ddf;
}

.list-group-item:focus {
    background: #ddf;
    outline: none;
}