.list-group {
    height: 100%;
    min-height: 100%;
    margin: 10px 10px 10px 0;
    padding: 20px;
    background: #2d2d2d;
    border-radius: 0 15px 15px 0;
}

.list-group-item-action {
    background: #f7eeff;
    border-radius: 15px;
    color: #555;
    margin-bottom: 3px;
    border: none;
}

.list-group-item-action:hover:not(.active), .list-group-item-action:focus:not(.active) {
    background: #eedaff;
    color: #555;
    outline: none;
}

.active {
    background: #8000ee;
    color: #fff;
}

.active:hover, .active:focus {
    background: #7000D2;
    color: #fff;
    outline: none;
}