<div class="container">
    <div class="row">
        <h2>Sign up</h2>
    </div>
    <div class="row">
        <h5>Username</h5>
        <input type="text" [(ngModel)]="username" />
        <h5>Password</h5>
        <input type="password" [(ngModel)]="user.password" />
        <h5>First name</h5>
        <input type="text" [(ngModel)]="user.firstName" />
        <h5>Last name</h5>
        <input type="text" [(ngModel)]="user.lastName" />
        <h5>Email Address</h5>
        <input type="email" [(ngModel)]="user.emailAddress" />
        <div style="height:20px;"></div>
    </div>
    <div class="row">
        <input type="button" class="btn btn-submit" value="Submit" (click)="submitForm()" />
    </div>
</div>