<div class="container">
    <div class="row">
        <h2>Log in</h2>
    </div>
    <div class="row">
        <form (submit)="attemptLogin(account)">
            <span *ngIf="errorMsg.length > 0" class="text-error">{{errorMsg}}</span>
            <h5>Username</h5>
            <input type="text" name="email" [(ngModel)]="account.email" />
            <h5>Password</h5>
            <input type="password" name="password" [(ngModel)]="account.password" />
            <div style="height:20px;"></div>
            <input type="submit" class="btn btn-primary" value="Log in"/>
            <input type="button" class="btn btn-secondary" value="Register" (click)="showRegistrationPage()" />
        </form>
    </div>
</div>