@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

h3 {
    margin: auto 0 auto 0;
    display: inline-block;
}

a {
    color: currentColor;
    text-decoration: none;
}

.text-error {
    color: red;
    font-weight: bold;
    font-size: 16pt;
}

/********************LOGOS*******************/
.fa-logo-icon {
    color: red;
}

/********************SPACERS*******************/
.v-spacer-5 {
    margin-left: 5px;
}

.v-spacer-10 {
    margin-left: 10px;
}

/********************THEME*******************/
.theme-bg-primary {
    background: black;
}

.theme-bg-secondary {
    background: darkgrey;
}

.theme-font-tertiary {
    color: white;
}

.theme-font-primary {
    color: white;
}

.theme-font-secondary {
    color: black;
}

.theme-font-tertiary {
    color: red;
}