@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

h3 {
    margin: auto 0 auto 0;
    display: inline-block;
}

.text-error {
    color: red;
    font-weight: bold;
    font-size: 16pt;
}

/********************LOGOS*******************/
.fa-logo-icon {
    color: red;
}

/********************SPACERS*******************/
.v-spacer-5 {
    margin-left: 5px;
}

.v-spacer-10 {
    margin-left: 10px;
}

/********************THEME*******************/
.theme-bg-primary {
    background: black;
}

.theme-bg-secondary {
    background: darkgrey;
}

.theme-font-tertiary {
    color: white;
}

.theme-font-primary {
    color: white;
}

.theme-font-secondary {
    color: black;
}

.theme-font-tertiary {
    color: red;
}

.font-red {
    color: red;
}

.text-v-small {
    font-size: 8pt;
}

.text-small {
    font-size: 10pt;
}

.text-regular {
    font-size: 12pt;
}

.text-large {
    font-size: 14pt;
}

.text-v-large {
    font-size: 16pt;
}

.text-huge {
    font-size: 20pt;
}

.margin-0 {
    margin: 0;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.padding-0 {
    padding: 0;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.no-border {
    border: none;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.width-100 {
    width: 100%;
}

.spacer {
    width: 100%;
    height: 20px;
}

.btn {
    border: 1px solid #ccc;
}

.container {
    padding: 10px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.panel {
    border: 1px solid grey;
    height: 100%;
    width: 100%;
}

.border-rounded {
    border-radius: 15px;
}