<div class="container">
    <div class="container" [@animation]>
        <div class="row">
            <div class="home-menu-bar container panel border-rounded">
                <a href="/site/create" class="btn btn-default home-menu-button">Create a site</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 container">
            <my-sites></my-sites>
        </div>
        <div class="col-lg-6 col-md-12 container">
            <latest-sites></latest-sites>
        </div>
    </div>
    <!-- <app-profile></app-profile> -->
    <!-- <app-subscriptions></app-subscriptions> -->
    <!-- <app-friends></app-friends> -->
</div>